* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Search Bar */

#search-container {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fa-search {
  position: absolute;
  right: 647px;
  top: 2px;
}

#flex-weather {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  border: 2px solid red;
  height: 400px;
  width: 250px;
  border-radius: 20px;
}

#weather-and-date-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#change-unit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#change-unit-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#daily-and-hourly-button-container {
  padding-left: 130px;
  width: 100%;
}

#daily-and-hourly-button-container button {
  text-decoration: none;
  width: 80px;
  height: 50px;
  margin: 10px;
  border: 1px solid black;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
}

#daily-weather-container {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.daily-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
}
