* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

#background-img {
  position: fixed;
  z-index: -1;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
}

/* Search Bar */

#search-container {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#search-location {
  color: black;
}

.fa-search {
  position: absolute;
  right: 647px;
  top: 2px;
}

#flex-weather {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  height: 400px;
  width: 250px;
  border-radius: 3em;
  background-color: rgba(221, 238, 223, 0.2);
  z-index: 1;
  position: relative;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
}

#weather-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#current-weather-result {
  display: flex;
  flex-direction: row;
}

#current-weather-result p {
  font-size: 50px;
}

#current-weather-icon-container {
  display: flex;
  justify-content: center;
}

#feels-like-result {
  display: flex;
  flex-direction: row;
}

#weather-extras div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#change-unit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#change-unit-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  padding: 3px;
  height: 35px;
  width: 95px;
}

#daily-and-hourly-button-container {
  padding-left: 130px;
  width: 100%;
}

#daily-and-hourly-button-container button {
  text-decoration: none;

  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
}

#daily-weather-container {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
}

#daily-weather-container p {
  padding: 5px 0px;
}

.daily-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
}

.min-container p {
  font-size: 16px;
}

.weather-units-container {
  display: flex;
}

.weather-info-units-f,
.display-button-units-c {
  display: none;
  margin-left: 4px;
}

.weather-info-units-c,
.display-button-units-f {
  margin-left: 4px;
}

footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
